# dependencies
node_modules/
.pnpm-store/

# build output
.next/
dist/
build/
.turbo/

# env
.env
.env.local
.env.*.local

# supabase
supabase/.branches/
supabase/.temp/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/settings.json

# misc
coverage/
*.tsbuildinfo
